.container{
    max-width: 100%;
    display:flex;
    justify-content: center;
    margin:30px;
}
 .container .main {
    width:400px;
    height:200px;
    background-image: url("https://media.istockphoto.com/id/1364911468/photo/simple-two-white-paper-bags-on-floor-3d-render-illustration.webp?b=1&s=170667a&w=0&k=20&c=X5Kte1squi4Zaa8_lS2BuwsiFEq2hybRZ5LNDV6rhnc=");
    
}
.main label input button p{
   text-align: center;
}
.main button{
   margin-top:10px;
   border-style: none;
   background-color: aquamarine;
}
